@import "../../common/mixins.scss";

.invoice_details_container {
  color: var(--text-color);
  position: relative;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 2.4rem;
  border-radius: var(--border-radius-m);
  background-color: var(--item-color);

  margin-bottom: 2.4rem;

  &__left_group {
    display: flex;
    align-items: center;
    gap: 1.4rem;

    @include respond(phone) {
      flex: 1;
      justify-content: space-between;
    }
  }

  &__right_group {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    @include respond(phone) {
      background-color: var(--item-color);
      border-radius: var(--border-radius-m);

      padding: 2.4rem 2.4rem;
      width: 100%;
      position: absolute;
      bottom: -12rem;
      left: 0;
      justify-content: center;
    }
  }
}

.heading {
  font-size: 1.2rem;
}

.bottom {
  border-radius: var(--border-radius-m);
  background-color: var(--item-color);
  padding: 2.4rem;
  font-size: 1.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4.8rem;

  .description_box {
  }

  .sender_address {
    grid-column: 3;
    justify-self: end;
    text-align: right;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .date_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-row: span 2;
  }

  .bill_to {
    grid-row: span 2;
    grid-column: 3;
    justify-self: end;
  }

  .sent_to {
    @include respond(tab-pot) {
      grid-row: 4;
    }
  }

  .item_container {
    background-color: var(--item-content-bg);
    padding: 3.2rem;
  }

  .footer {
    grid-row: 4;
    grid-column: 1 / -1;
    border-radius: var(--border-radius-m);

    @include respond(tab-pot) {
      grid-row: 5;
    }
  }
}

// applied to both address
.street {
}

.city {
}

.post_code {
}

.country {
}

.id {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--title-color);

  margin-bottom: 0.8rem;

  span {
    color: var(--primary-color);
  }
}

.description {
}

.small_heading {
  margin-bottom: 1.2rem;
}

.common_info {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--title-color);

  margin-bottom: 1.2rem;
}

.date {
}

.client_address {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.client_name {
}

// items

.items_grid {
  display: grid;
  grid-template-columns: 40fr 20fr 20fr 20fr;

  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  gap: 4rem;
}

.item_list {
  grid-column: 1 / -1;
}

.item_name {
}

.quantity_name {
  justify-self: center;

  @include respond(phone) {
    display: none;
  }
}

.price_name {
  justify-self: center;

  @include respond(phone) {
    display: none;
  }
}

.total_name {
  justify-self: end;
}

.name {
  color: var(--title-color);
  font-weight: 700;

  @include respond(phone-min) {
    line-height: 1.4;
  }
}

.quantity {
  font-weight: 700;
  justify-self: center;

  @include respond(phone) {
    display: none;
  }
}

.price {
  font-weight: 700;
  justify-self: center;

  @include respond(phone) {
    display: none;
  }
}

.total {
  justify-self: end;
  color: var(--title-color);
  font-weight: 700;
}

.grand_total_box {
  background-color: var(--item-footer-bg);
  padding: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deu {
  color: var(--title-color);
  font-weight: 700;
}

.deu_amount {
  font-size: 2.4rem;
  color: var(--title-color);
  font-weight: 700;

  @include respond(phone) {
    font-size: 2rem;
  }
}
