.invoice_details_container {
  // background-color: red;
  color: var(--text-color);
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;

  &__left_group {
  }

  &__right_group {
  }
}

.heading {
  font-size: 1.2rem;
}
